<div>
<div>
  <h3>Order Food</h3>
</div>
<div class=row>
  <div class="col-1"> </div>
 <div class="col-3">
  <table class="table  p-2"  *ngIf="!getOrder">
    <thead>
      <tr class="row" >
        <th  class="col">Food</th>
        <th  class="col">Price</th>
        <th class="col"></th>
      </tr>
    </thead>
    <tbody>    
    <ng-container *ngFor="let food of menuList">
      <tr class="row" >
        <td class="col">
          {{food.name}}
        </td>
        <td  class="col">
          {{food.price}}
        </td>
        <td  class=" col  " (click)="OrderList(food.id)">
         <label class="btn btn-secondary">+</label> 
        </td>
      </tr>
    </ng-container>
  </tbody>
  </table>
 </div>
 <div class="col-1"></div>
 <div class="col-4" *ngIf="orderList.length>0">
  <ul  class="center list-group">
    <ng-container *ngFor="let food of orderList">
      <li  class="list-group-item d-flex justify-content-between align-items-center">
        <label class="p-2">
          {{food.name}}
        </label>
        <span class="badge bg-info rounded-pill">
          {{food.price}} x {{food.quantity}} | {{food.price*food.quantity}}
        </span>
        <label class="btn  btn-secondary" (click)="CancelFoodOrder(food.id)">
          -
        </label>
      </li>
    </ng-container>
    
  </ul>
  
  <div>
    <label class="btn btn-secondary" (click)="getBill=false;getOrder=false;">Order Another</label>    
    <label class="btn btn-secondary" *ngIf="!getBill" (click)="orderList=[];getOrder=false;">Cancel Order</label>
  </div>
  <div>
    <label> Tip: </label>
    <label  class="btn btn-secondary" *ngIf="tipPercentage>0" (click)="tipPercentage=tipPercentage-1;">-</label>
    <label class="btn btn-info"> {{tipPercentage}} </label>
    <label class="btn btn-secondary" (click)="tipPercentage=tipPercentage+1;">+</label>
  </div>
  <div>
    
    <label class="btn btn-secondary" (click)="getBill=true;getOrder=true;">Final Bill </label>

  </div>
  <div *ngIf="getBill">
    <label>Total :</label>{{BillAmount()}}
  </div>
 </div>
 <div>

 </div>
</div>
</div>